/* =========================
   MAIN
========================= */

main {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 40px;
}



.publicidad p {
    font-size: 14px;
}


/* =========================
   ARTISTA DESTACADO
========================= */

.artista-destacado {
    border: none;
    overflow: hidden;
}

.artista-destacado img {
    height: 300px;
    object-fit: cover;
}


/* =========================
   TARJETAS DE ARTISTAS
========================= */

.artista-card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.artista-card:hover {
    transform: translateY(-5px);
}

.artista-card img {
    height: 220px;
    object-fit: cover;
}

.artista-card .card-body {
    padding: 20px;
}

.artista-card h3 {
    font-weight: bold;
}


/* =========================
   NOTICIAS
========================= */

.noticias {
    background-color: #ffffff;
}

.noticias .card-body {
    padding: 20px;
}

.noticias h5 {
    font-weight: bold;
}

.noticias h6 {
    margin-bottom: 5px;
}

.noticias p {
    margin-bottom: 0;
    line-height: 1.4;
}


/* =========================
   VIDEO
========================= */

.video-musical {
    overflow: hidden;
    border-radius: 8px;
}

.video-musical iframe {
    border: none;
}

footer p {
    text-align: center;
    color: white;
}


  .navbar > .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
